html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html::-webkit-scrollbar {
    width: 8px;
    background-color: #c3ccce;
}

html::-webkit-scrollbar-thumb {
    background-color: #bd234a9e;
    border-radius: 5px;
}

body {
    margin: 0;
    font-family: Montserrat;
}

.labelForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.labelForm label {
    position: absolute;
    top: 9px;
    left: 12px;
    color: rgb(82, 82, 82);
    font-size: 0.9rem;
    transition: top 200ms, font 200ms;
}

.labelForm input:focus {
    box-shadow: none;
}

.labelForm input:focus+label,
.labelForm input:not(:placeholder-shown)+label,
.labelForm textarea:focus+label,
.labelForm textarea:not(:placeholder-shown)+label {
    font-weight: 500;
    font-size: 0.7rem;
    top: -9px;
    color: black;
    background-color: white;
}

.labelForm input:not(:focus)::placeholder,
.labelForm input:focus::placeholder,
.labelForm textarea:not(:focus)::placeholder,
.labelForm textarea:focus::placeholder {
    opacity: 0;
}

.labelForm input:not(:focus)+label::after {
    opacity: 0;
}

.modal-body {
    display: block;
    width: 90%;
    justify-content: center;
    text-align: center;
}

.modal-body h4 {
    text-align: center;
}

.bodyModalEdit form {
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bodyModalEdit .labelForm {
    display: inline-block;
    margin-bottom: 2%;
    margin-top: 1.5%;
    margin-right: 2.5px;
    margin-left: 2.5px;
}

.buttonsModalEdit button,
.buttonsModalInative button {
    margin: 3px;
}

.buttonsModalEdit .buttonSave,
.buttonsModalEdit .buttonSave:hover {
    background-color: #71cdf2;
    color: white;
}

.buttonsModalEdit .buttonCancel,
.buttonsModalEdit .buttonCancel:hover {
    background-color: #e26767;
    color: white;
}

.buttonsModalInative .buttonBackAndCancel,
.buttonsModalEdit .buttonBackAndCancel {
    background-color: #506266;
    color: white;
}