.title {
    display: flex;
    gap: 10px;
    align-items: center;
}
.buttonAddProduct {
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #71cdf2;
    border: none;
    box-shadow: 1px 1px 5px 1px rgba(73, 73, 73, 0.081);
}

.listagemProdutos {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
  }

.listagemProdutos h4 {
    font-weight: 600;
}
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
  }
  
  .cardProduto {
    border: 1px solid rgba(0, 0, 0, 0.217);
    box-shadow: 1px 1px 5px 1px rgba(73, 73, 73, 0.081);
    border-radius: 19px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .headCard {
    height: 30px;
  }
  
  .imgCard {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(73, 73, 73, 0.033);
    margin: auto;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .icons .icon {
    cursor: pointer;
  }

  