.headerPage {
    background-color: #DB1A4A;
    height: 100px;
    width: 100%;
    top: 0;
    color: aliceblue;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Montserrat;
}

.headerPage h2 {
    font-weight: 600;
}